<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/links') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <h2 class="AgregarProductos">Vamos a agregar Productos</h2>
    <main style="width: 1000px;margin-left: 20px;">

        <form class="Contacto" method="POST" action="/products/addproduct">

            <div class="mb-3"> 
                <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre del producto aquí."
                name="name">
            </div>


            <div class="mb-3"> 
                <label for="exampleFormControlInput1" class="form-label">Categoria:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escriba categoria aquí"
                name="category">
            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese precio aquí"
                name="price">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Descripción:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese descripción aquí"
                name="description">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese stock aquí"
                name="stock">
            </div>
            
            
            <button type="submit" class="btn btn-primary" id="redbuton">Enviar mensaje</button>
            
        </form>
    
    </div>

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
   
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>   
   
   
    
</body>
</html>
