<head>
    <%-include('../partials/links.ejs')%>
</head>
<body>

        <%-include('../partials/nav.ejs')%>

        <form class="formulario">
            <H3 class="Inicio-sesion">Inicio de Sesion</H3>
        <div class="contenedor3">
    
    
         <div class="imput2-contenedor">
            <input type="text" placeholder="Correo Electronico">
        </div>
        <div class="imput2-contenedor">
            <input type="password" placeholder="Contraseña">
        </div>
        <div class="imput2-contenedor">
            <input type="submit" value="Iniciar Sesion" class="button">
            <p class="registro">Al registrarte, aceptas nuestras Condiciones de uso y Politicas de privacidad.</p>
            <p class="registro">¿No tienes cuenta? <a class="link" href="/registrarse">Registrarse </a></p>
        </div>
    
        </div>
    
    
        </form>


    <%-include('../partials/footer.ejs')%>
</body>
</html>