
<head>
    <%- include('../partials/links') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1 class="principal">Mi historia</h1>
    
    <%- include('../partials/footer') %> 
</body>
</html>