<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/links') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>SOY LA PAGINA DE PRODUCTOS </h1>
</body>
</html>