<footer class="Contacto container">
    <h1 class="text-center">Contacto</h1>
    <form class="fromCont" action="">
        <div class="row d-flex justify-content-between">
            <input class="form-control col-sm-12 col-md-6" placeholder="Escribe Tu Nombre Aqui" type="text">
            <input class="form-control col-sm-12 col-md-5" placeholder="Escribe Tu Email Aqui" type="email">
            <textarea class="form-control col-md-12" placeholder="Escribe Tu Mensaje Aqui"></textarea>
            <a href="https://outlook.live.com/owa/" class="col-md-2">Enviar Mensaje</a>
        </div>
    </form>
</footer>

<div class="Foot">
    <h4 class="text-center">Copyright © 2022 Mostrá la Hilacha Todos los derechos reservados.</h4>
</div>


