<header class="Header">
    <div class="bg-dark bg-dark1" id="mecSoc">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex justify-content-center w-100">
                        <a class="nav-item nav-link" href="/products">Home</a>
                        <a class="nav-item nav-link" href="/products/nosotros">¿Quien Soy?</a>
                        <a class="nav-item nav-link" href="/products/usuario">Tienda</a>
                        <a class="nav-item nav-link" href="/products/contacto">Contacto</a>
                        <a class="nav-item nav-link" href="/products/addproducts">Agregar Productos</a>
                        <a class="nav-item nav-link" href="/products/login">Login</a>
  
                        
                        <div class="social">
                            <div><a href="https://www.facebook.com/pages/category/Product-Service/Mostra-la-Hilacha-382291752407617/"
                                    target="_blanck"><i class="fab fa-facebook-square"></i></a></div>
                            <div><a href="https://www.instagram.com/mostra_la_hilacha/" target="_blanck"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div><a href="https://api.whatsapp.com/send?phone=+5491164660173&text=Hola!%20Quisiera%20mas%20informaci%C3%B3n%20sobre%20los%20Productos.%20Saludos"
                                    target="_blanck"><i class="fab fa-whatsapp"></i></a></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
  
    <div class="Text-hero">
        <div class="container">
            <h3>Mostrá</h3>
            <h5>la Hilacha</h5>
            <!--<a href="" >Contactame</a> -->
        </div>
    </div>
  
    <div class="svg-hero" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-18.90,88.31 C210.21,248.19 334.36,-125.81 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #e8e4e1;"></path>
        </svg>
    </div>
  
  </header>
  