<section class="Galeria">
    <div class="container">
        <div class="text-center">
            <h2>Productos</h2>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto1.jpeg" alt="">
                <h4>Peluches</h4>
                  <label for="name" class="form-label">Nombre</label>
                  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto2.jpeg" alt="">
                <h4>Mantas de apego</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto3.jpeg" alt="">
                <h4>Guirnaldas</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto4.jpeg" alt="">
                <h4>Personajes</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto5.jpeg" alt="">
                <h4>Fundas</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="/imagenes/fotos_galeria/foto6.jpeg" alt="">
                <h4>Sonajeros</h4>
            </div>
        </div>
    </div>
</section>