<div class="ubicacion">Ubicación</div>
    <iframe class="iframe" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.4131348006676!2d-58.77411853456503!3d-34.46704237986175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc98dd199f3c55%3A0x40cfe1dee47c1e43!2sSta%20Elena%20739%2C%20B1664%20Manuel%20Alberti%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1643425894699!5m2!1ses-419!2sar"
        width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>